# System
.DS_Store

# Symfony files
/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/

# Assets vendors
/web/assets/vendor/
/node_modules/

# Compiled assets
/web/js/*
/web/css/*
/web/images/*

# IDE Files
/.phpintel/
/nbproject
/.idea

# Other
/todo
/backups

# Compiled assets
/web/css/
/web/js/
/web/build/

# Deployer conf
deploy.php

# Uploads
/web/uploads

*.sql
*.css.map
