# Symfony files
/web/bundles/
/web/uploads/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/bin/
/composer.phar
/vendor/
/web/js/
/web/css/
/web/images/

# IDE Files
/.phpintel/
/nbproject
/.idea

# Other
/todo
/backups
