<section id="about" class="bg-grey">
    <div class="container">
        <h1 class="about-header">Who We Are</h1>
        <div class="row">
            <div class="col-md-4">
                <h2><span class="icon icon-vm"></span></h2>
                <h3>VISUALMASTERS</h3>
                <p>We are a group of people who are seeking of a chance to make this world better and more beautiful. We provide great design descisions for all types of premises. Our main goal is to visualize your inner space.</p>
            </div>
            <div class="col-md-4">
                <h2><span class="icon icon-flag"></span></h2>
                <h3>Our mission</h3>
                <p>Doing our best, VisualMasters team improve your everyday life by making it more comfortable and more beneficial. Remember - your surrounding influences your inner world, your mood and your character.</p>
            </div>
            <div class="col-md-4">
                <h2><span class="icon icon-team"></span></h2>
                <h3>Professional team</h3>
                <p>Our team consists of exclusive professionals you can rely on. For years we've been doing our best in moviemaking, creating an interior and exterior design projects, web development and web design.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <h4><span class="icon icon-computer"></span></h4>
                <h4>High-tech Soft</h4>
                <p>We create high quality product, which helps you to visualize your thoughts and pictures in your mind.</p>
            </div>
            <div class="col-md-3">
                <h4><span class="icon icon-time"></span></h4>
                <h4>Time economy</h4>
                <p>Leave your order online. Consult to our specialists via Skype, this helps us to understand you in a better way.</p>
            </div>
            <div class="col-md-3">
                <h4><span class="icon icon-wallet"></span></h4>
                <h4>Money saving</h4>
                <p>We offer competitive prices to our clients. The average price for the project is lower than you may suspect.</p>
            </div>
            <div class="col-md-3">
                <h4><span class="icon icon-anvil"></span></h4>
                <h4>Wide range of services</h4>
                <p>From interior & exterior design to filmmaking & crafting production - it depends on your needs.</p>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <a href="">
                    <span class="icon-3dmax"></span>
                </a>
            </div>
            <div class="col-md-2">
                <a href="">
                    <span class="icon-autodesk"></span>
                </a>
            </div>
            <div class="col-md-2">
                <a href="">
                    <span class="icon-blender"></span>
                </a>
            </div>
            <div class="col-md-2">
                <a href="">
                    <span class="icon-sketchup"></span>
                </a>
            </div>
            <div class="col-md-2">
                <a href="">
                    <span class="icon-adobe"></span>
                </a>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</section>