<section id="main" class="section-img">
    <div class="section-content">
        <div class="section-content-inner">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                </ol>

                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <div class="headers text-left">
                            <h1 class="text-uppercase header-1">3D Design</h1>
                            <h1 class="text-uppercase header-2">That lives</h1>
                            <h4>Visualmasters provides excellent 3D interior designs of any difficulty</h4>
                            <h4>We also offer other kinds of 3D visualisation, 3D models creation & even more</h4>
                        </div>
                    </div>
                    <div class="item">
                        <div class="headers text-left">
                            <h1 class="text-uppercase header-1">3D Design</h1>
                            <h1 class="text-uppercase header-2">That lives</h1>
                            <h4>Visualmasters provides excellent 3D interior designs of any difficulty</h4>
                            <h4>We also offer other kinds of 3D visualisation, 3D models creation & even more</h4>
                        </div>
                    </div>
                    <div class="item">
                        <div class="headers text-left">
                            <h1 class="text-uppercase header-1">3D Design</h1>
                            <h1 class="text-uppercase header-2">That lives</h1>
                            <h4>Visualmasters provides excellent 3D interior designs of any difficulty</h4>
                            <h4>We also offer other kinds of 3D visualisation, 3D models creation & even more</h4>
                        </div>
                    </div>
                    <div class="item">
                        <div class="headers text-left">
                            <h1 class="text-uppercase header-1">3D Design</h1>
                            <h1 class="text-uppercase header-2">That lives</h1>
                            <h4>Visualmasters provides excellent 3D interior designs of any difficulty</h4>
                            <h4>We also offer other kinds of 3D visualisation, 3D models creation & even more</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="next-page">
                <a href="#about" class="page-scroll">
                    <span class="icon icon-next-page"><span class="path1"><span class="path2"></span></span></span>
                </a>
            </div>
        </div>
    </div>
    <div class="footer main-footer">
        <div class="row">
            <div class="col-md-3">
                <a href="#tab-interior" aria-controls="tab-interior" role="tab" data-toggle="tab" class="page-scroll scroll-to-tabs active">3D Interior Design</a>
            </div>
            <div class="col-md-3">
                <a href="#tab-exterior" aria-controls="tab-exterior" role="tab" data-toggle="tab" class="page-scroll scroll-to-tabs">3D Exterior Design</a>
            </div>
            <div class="col-md-3">
                <a href="#tab-web" aria-controls="tab-web" role="tab" data-toggle="tab" class="page-scroll scroll-to-tabs">Web development</a>
            </div>
            <div class="col-md-3">
                <a href="#tab-special" aria-controls="tab-special" role="tab" data-toggle="tab" class="page-scroll scroll-to-tabs">Special projects</a>
            </div>
        </div>
    </div>
</section>