/*=================================
=             Global              =
=================================*/
.invisible {
    display: none;
}

.content-wrapper {
    height: 100%;
}
/*=================================
=            Navigator            =
=================================*/
header {
    height: 32px;
    z-index: 100;
}

.navigator {
  position: absolute;
  top: 0;
  height: 28px; width: 100%;
  border-bottom: 3px solid #999;
  background: rgba(255,255,255,0.4);
  font-family: sans-serif;
  letter-spacing: 1px;
  margin: 0 auto;
}

.navigator>li {
  top: 0;
  display: inline;
  list-style: none;
  position: absolute;
}

.navigator>li:first-child { left: 5%; }

.navigator>li:nth-of-type(2) { left: 23%; }

.navigator>li:nth-of-type(3) { left: 36%; }

.navigator>li:nth-of-type(4) { left: 51%; }

.navigator>li:nth-of-type(5) { left: 65%; }

.navigator>li:last-child { right: 5%; }

.navigator>#penult { left: 70%; }

.navigator li a, .navigator span {
    font-size: 1.4em;
    margin-bottom: 15px;
	text-decoration: none;
    color: #333;
    transition: 0.4s;
}

.navigator li a:hover, .navigator span:hover {
    cursor: pointer;
    color: #999;
    border-bottom: 3px solid orange;
}

.navigator li .selected {
	color: orange;
}

/*=================================
=            Navigator            =
=================================*/

#ribbon-left, #ribbon-right {
    padding: .34em 1em;
    margin: 0;
    margin-top: 10%;
    position: absolute;
    color: #ffffff;
    font: 22px 'Patua One', sans-serif;
    text-align: center;
    letter-spacing:0.1em;
    text-shadow: 0px -1px 0px rgba(0,0,0,0.3);
    box-shadow: inset 0px 1px 0px rgba(255,255,255,.3),
    inset 0px 0px 20px rgba(0,0,0,0.1),
    0px 1px 1px rgba(0,0,0,0.4);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#17a7d2), to(#1eb2df));
    background: -webkit-linear-gradient(top, #1eb2df, #17a7d2);
    background: -moz-linear-gradient(top, #1eb2df, #17a7d2);
    background: -ms-linear-gradient(top, #1eb2df, #17a7d2);
    background: -o-linear-gradient(top, #1eb2df, #17a7d2);
    display: inline-block;
    cursor: pointer;
}

#ribbon-left { left: 0; }
#ribbon-right { right: 0; }

#ribbon-right:before, #ribbon-left:after {
    content: "";
    width:.2em;
    bottom:-.5em;
    position:absolute;
    display:block;
    border: .9em solid #1eb2df;
    box-shadow:0px 1px 0px rgba(0,0,0,0.4);
    z-index: -2;
}

#ribbon-right:before {
    left:-1.10em;
    border-right-width: .75em;
    border-left-color:transparent;
}

#ribbon-left:after {
    right:-1.10em;
    border-left-width: .75em;
    border-right-color:transparent;
}

#ribbon-left #content:after, #ribbon-right #content:before {
    content:"";
    bottom:-.5em;
    position:absolute;
    display:block;
    border-style:solid;
    border-color: #0675b3 transparent transparent transparent;
    z-index: -1;
}

#content:before {
    left: 0;
    border-width: .5em 0 0 .5em;
}

#content:after {
    right: 0;
    border-width: .5em .5em 0 0;
}

.foreground {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, .6);
    z-index: -3;
    width: 100%;
}

.foreground .description {
    position: fixed;
    width: 75%;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.order {
    display: block;
    margin: auto;
    margin-top: 50px;
    text-decoration: none;
    color: inherit;
}

.order:hover {
    text-decoration: none;
}

@keyframes linear {

    from {
        background-position: 0 0;
    }
    to {
        background-position: 200px 0;
    }

}

@keyframes radial {

    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 60px;
    }

}

@keyframes repeating {

    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 85px;
    }

}

@keyframes electronic {

    0%, 100% {
        background-position: 20px -30px;
    }
    25% {
        background-position: 150px 5px;
    }
    50% {
        background-position: 20px 40px;
    }
    75% {
        background-position: -100px 5px;
    }

}

.biliboard {
    width: 200px;
    padding: 15px 50px;
    text-align: center;
    position: relative;
    background: #fff;
    color: #333;
    border-radius: 10px;
    /*font-weight: bold*/
}

.biliboard:before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 3px;
    transform: scale( 1.02, 1.08 );
    position: absolute;
    background: #f00;
    background: linear-gradient( 90deg, #fafafa, #fafafa, #1D8EF7, #fafafa, #fafafa );
    background-position: 55px 0;
    top: 0;
    animation: linear 1s infinite linear;
    left: 0;
    z-index: -1;
}

.biliboard.radial:before {
    background: radial-gradient( #fafafa, #fafafa, #F2A61A, #fafafa, #fafafa );
    animation: radial 1s infinite linear;
}

.biliboard.repeating:before {
    background: repeating-linear-gradient( -45deg, #fafafa, #fafafa 30px, #5FC914 30px, #5FC914 60px ) fixed;
    animation: repeating 1s infinite linear;
}

.biliboard.electronic:before {
    background: radial-gradient( #EA238D, #EA238D, #EA238D, #EA238D, #fafafa, #fafafa ) no-repeat;
    background-size: 150px 50px;
    animation: electronic 2s infinite linear;
}