<section id="about" class="bg-grey">
    <div class="container">
        <h1 class="about-header">Who We Are</h1>
        <div class="row about-headers">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 about-header">
                <h3>
                    <span class="icon icon-vm"></span>
                    VISUALMASTERS
                </h3>
                <p>We are a group of people who are seeking of a chance to make this world better and more beautiful. We provide great design descisions for all types of premises. Our main goal is to visualize your inner space.</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 about-header">
                <h3>
                    <span class="icon icon-flag"></span>
                    Our mission
                </h3>
                <p>Doing our best, VisualMasters team improve your everyday life by making it more comfortable and more beneficial. Remember - your surrounding influences your inner world, your mood and your character.</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 about-header">
                <h3>
                    <span class="icon icon-team"></span>
                    Professional team
                </h3>
                <p>Our team consists of exclusive professionals you can rely on. For years we've been doing our best in moviemaking, creating an interior and exterior design projects, web development and web design.</p>
            </div>
        </div>
        <div class="row about-subheaders">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 about-subheader">
                <h4>
                    <span class="icon icon-computer"></span>
                    HIGH-TECH SOFTWARE
                </h4>
                <p>We create high quality design products, which help you to visualize your thoughts and pictures and see how these will become reality.</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 about-subheader">
                <h4>
                    <span class="icon icon-time"></span>
                    EFFICIENT
                </h4>
                <p>Once you have placed your order online you will be invited to a Skype consultation with our specialists. We will be able to discuss your goals and ideas in greater detail, allowing us a more detailed understand of your vision.</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 about-subheader">
                <h4>
                    <span class="icon icon-wallet"></span>
                    COST EFFECTIVE
                </h4>
                <p>We offer competitive prices to our clients. The average price for the project is lower than you may imagine. Make an enquiry today to find out more.</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 about-subheader">
                <h4>
                    <span class="icon icon-anvil"></span>
                    Wide range of services
                </h4>
                <p>From interior & exterior design to filmmaking & crafting production - it depends on your needs.</p>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="row">
            <div class="col-lg-1 col-md-1  visible-lg  visible-md"></div>


            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
                <a href="https://www.autodesk.co.uk/products/3ds-max">
                    <span class="icon-3dmax"></span>
                </a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
                <a href="https://www.autodesk.co.uk">
                    <span class="icon-autodesk"></span>
                </a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
                <a href="//www.blender.org">
                    <span class="icon-blender"></span>
                </a>
            </div>

            <div class="visible-sm visible-xs col-sm-1 col-xs-1"></div>

            <div class="col-lg-2 col-md-2 col-sm-5 col-xs-5">
                <a href="//www.sketchup.com">
                    <span class="icon-sketchup"></span>
                </a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-5 col-xs-5">
                <a href="//www.adobe.com">
                    <span class="icon-adobe"></span>
                </a>
            </div>

            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>

        </div>
    </div>
</section>