<section id="services" class="bg-blue">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center ">
                <h2 class="section-heading">Visualize your dreams</h2>
                <h2 class="section-heading-dimmed">Before they come true</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="service-box">
                    <img src="{{ asset('bundles/site/img/cube.png')  }}" class="img-responsive center-block" alt="">
                    <h3>Creating 3D Scenes</h3>
                    <p>We specialize in creating a 3D design of interiors and exteriors</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="service-box">
                    <img src="{{ asset('bundles/site/img/computer.png')  }}" class="img-header center-block" alt="">
                    <h3>Integration to WEB</h3>
                    <p>IT department set up to deal with any problems with the integration of your 3D products to WEB</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="service-box">
                    <img src="{{ asset('bundles/site/img/factory.png')  }}" class="img-responsive center-block" alt="">
                    <h3>3D to Real Things</h3>
                    <p>Creation of real things from 3D models. Wood, steel, galss and much more.</p>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="section-header-underlined">
        <h2>What are you interested in?</h2>
        <div class="clearfix"></div>
    </div>
    <div class="footer main-footer">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <a href="#tab-interior" aria-controls="tab-interior" role="tab" data-toggle="tab" class="active page-scroll scroll-to-tabs">3D Interior Design</a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <a href="#tab-exterior" aria-controls="tab-exterior" role="tab" data-toggle="tab" class="page-scroll scroll-to-tabs">3D Exterior Design</a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <a href="#tab-web" aria-controls="tab-web" role="tab" data-toggle="tab" class="page-scroll scroll-to-tabs">Web development</a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <a href="#tab-special" aria-controls="tab-special" role="tab" data-toggle="tab" class="page-scroll scroll-to-tabs">Special projects</a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="clearfix"></div>
</section>