<section id="main" class="section-img">
    <div class="section-content">
        <div class="section-content-inner">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                </ol>

                <div class="carousel-inner main-headers" role="listbox">
                    <div class="item active">
                        <div class="main-header">
                            <h1>
                                <span class="line-one">3D Design</span>
                                <span class="line-two">That lives</span>
                            </h1>
                            <h4>
                                <span class="line-one">VisualMasters provides excellent 3D interior designs of any difficulty</span>
                                <span class="line-two">We also offer other kinds of 3D visualisation, 3D models creation & even more</span>
                            </h4>
                        </div>
                    </div>
                    <div class="item">
                        <div class="main-header">
                            <h1>
                                <span class="line-one">3D Design</span>
                                <span class="line-two">That lives</span>
                            </h1>
                            <h4>
                                <span class="line-one">VisualMasters provides excellent 3D interior designs of any difficulty</span>
                                <span class="line-two">We also offer other kinds of 3D visualisation, 3D models creation & even more</span>
                            </h4>
                        </div>
                    </div>
                    <div class="item">
                        <div class="main-header">
                            <h1>
                                <span class="line-one">3D Design</span>
                                <span class="line-two">That lives</span>
                            </h1>
                            <h4>
                                <span class="line-one">VisualMasters provides excellent 3D interior designs of any difficulty</span>
                                <span class="line-two">We also offer other kinds of 3D visualisation, 3D models creation & even more</span>
                            </h4>
                        </div>
                    </div>
                    <div class="item">
                        <div class="main-header">
                            <h1>
                                <span class="line-one">3D Design</span>
                                <span class="line-two">That lives</span>
                            </h1>
                            <h4>
                                <span class="line-one">VisualMasters provides excellent 3D interior designs of any difficulty</span>
                                <span class="line-two">We also offer other kinds of 3D visualisation, 3D models creation & even more</span>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="next-page pre-main-footer">
        <a href="#about" class="page-scroll">
            <span class="icon icon-next-page"><span class="path1"><span class="path2"></span></span></span>
        </a>
    </div>
    <div class="footer main-footer">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <a href="#tab-interior" aria-controls="tab-interior" role="tab" data-toggle="tab" class="page-scroll scroll-to-tabs active">3D Interior Design</a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <a href="#tab-exterior" aria-controls="tab-exterior" role="tab" data-toggle="tab" class="page-scroll scroll-to-tabs">3D Exterior Design</a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <a href="#tab-web" aria-controls="tab-web" role="tab" data-toggle="tab" class="page-scroll scroll-to-tabs">Web development</a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <a href="#tab-special" aria-controls="tab-special" role="tab" data-toggle="tab" class="page-scroll scroll-to-tabs">Special projects</a>
            </div>
        </div>
    </div>
</section>