<section id="media">
    <div class="container">
        <h2>Watch Our Showreel</h2>
        <iframe
                id="{{ videoObject.id }}"
                src="http://player.vimeo.com/video/{{ videoObject.video.providerreference }}"
                frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
        </iframe>
    </div>
</section>