<a
        href="{{ admin.generateObjectUrl('clone_order_details', object) }}"
        class="btn btn-sm btn-default" title="Clone basic order details">
    <i class="fa fa-clone" aria-hidden="true"></i>
    Clone
</a>