/*=================================
=             Global              =
=================================*/
.invisible {
    display: none;
}
/*=================================
=            Navigator            =
=================================*/
header {
    height: 23px;
}

.navigator {
  position: absolute;
  top: 0;
  height: 23px; width: 100%;
  border-bottom: 3px solid #999;
  background: rgba(255,255,255,0.4);	
  font-family: sans-serif;
  letter-spacing: 1px;  
  margin: 0 auto;
}

.navigator>li {
  top: 0;
  display: inline;
  list-style: none;
  margin-left: 10px;
  position: absolute;
}

.navigator>li:first-child { left: 10%; }

.navigator>li:nth-of-type(2) { left: 20%; }

.navigator>li:nth-of-type(3) { left: 31%; }

.navigator>li:nth-of-type(4) { left: 45%; }

.navigator>li:nth-of-type(5) { left: 59%; }

.navigator>li:last-child { right: 10%; }

.navigator>#penult { left: 70%; }

.navigator li a, .navigator span {
	font-size: 15px;
	text-decoration: none;
  color: #333;
  transition: 0.4s;
}

.navigator li a:hover, .navigator span:hover {
  cursor: pointer;
	color: #999;
  border-bottom: 3px solid orange;
}

.navigator li .selected {
	color: orange;
}

/*=================================
=            Navigator            =
=================================*/

#ribbon-left, #ribbon-right {
    padding: .34em 1em;
    margin: 0;
    margin-top: 10%;
    position: absolute;
    color: #ffffff;
    font: 22px 'Patua One', sans-serif;
    text-align: center;
    letter-spacing:0.1em;
    text-shadow: 0px -1px 0px rgba(0,0,0,0.3);
    box-shadow: inset 0px 1px 0px rgba(255,255,255,.3),
    inset 0px 0px 20px rgba(0,0,0,0.1),
    0px 1px 1px rgba(0,0,0,0.4);
    background: -webkit-linear-gradient(top,#1eb2df, #17a7d2);
    display: inline-block;
    cursor: pointer;
}

#ribbon-left { left: 0; }
#ribbon-right { right: 0; }

#ribbon-right:before, #ribbon-left:after {
    content: "";
    width:.2em;
    bottom:-.5em;
    position:absolute;
    display:block;
    border: .9em solid #1eb2df;
    box-shadow:0px 1px 0px rgba(0,0,0,0.4);
    z-index: -2;
}

#ribbon-right:before {
    left:-1.10em;
    border-right-width: .75em;
    border-left-color:transparent;
}

#ribbon-left:after {
    right:-1.10em;
    border-left-width: .75em;
    border-right-color:transparent;
}

#ribbon-left #content:after, #ribbon-right #content:before {
    content:"";
    bottom:-.5em;
    position:absolute;
    display:block;
    border-style:solid;
    border-color: #0675b3 transparent transparent transparent;
    z-index: -1;
}

#content:before {
    left: 0;
    border-width: .5em 0 0 .5em;
}

#content:after {
    right: 0;
    border-width: .5em .5em 0 0;
}

.foreground {
    position: absolute;
    top: 23px;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, .6);
    z-index: -3;
}