/*===============================
=            Gallery            =
===============================*/
#arrow_left, #arrow_right {
  position: absolute;
  bottom:30px; right:30px;
  width:20px;
  z-index:1000;
  transition: 0.2s;
  cursor: pointer;
}

#arrow_left {
  right: 80px;
}

#arrow_left.toggle-follows {
    right: 130px;
}

#arrow_left:hover, #arrow_right:hover {
  bottom:28px;
}

#arrow_left:active, #arrow_right:active {
  bottom:26px;
}

#arrow_left>img, #arrow_right>img {
  width: 25px;
}

#toggle_slideshow {
    position: absolute;
    bottom: 13px; right: 61px;
    transition: 0.2s;
    font-size: 50px;
    cursor: pointer;
    color: white;
}

#toggle_slideshow:hover {
    bottom: 11px;
}

#toggle_slideshow:active {
    bottom: 9px;
}

.transp-zone {
  position: absolute; top: 3px;
  display: table;
  overflow: hidden;
  color:#F8F8FF;
  font-size:14px;
  text-align: justify;
  font-family: Arial;
  line-height: 20px;
  -webkit-font-smoothing:antialiased;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.72);
  -moz-box-shadow:    0px 0px 6px 0px rgba(50, 50, 50, 0.72);
  box-shadow:         0px 0px 6px 0px rgba(50, 50, 50, 0.72);
  margin:20px 0 20px 0;
  padding:20px; 
  height: 100%;
  z-index: 99;
  transition: 0.2s;
}

.transp-zone>.transp-zone-content {
  display: table-cell; 
  vertical-align: middle;
}

.transp-zone-hide, .transp-zone-reveal {
    position: absolute;
    cursor: pointer;
    left: 0%;
    width:100%; height: 20px;
    text-align: center;
}

.transp-zone-hide { top: 90%; }
.transp-zone-reveal { top: 37%; }

.transp-zone:nth-child(1) { left: 10% }
.transp-zone:nth-child(2) { left: 20% }
.transp-zone:nth-child(3) { left: 31% }
.transp-zone:nth-child(4) { left: 45% }
.transp-zone:nth-child(5) { left: 59% }
.transp-zone:nth-child(6) { left: 70% }
.transp-zone:nth-child(7) { right: 10% }

/*=========================================
=            Slides thumbnails            =
=========================================*/
#nav_slideshow {
  float:left;
  position: absolute;
  bottom: 22px; right: 160px;
}

#nav_slideshow ul {
    list-style-type: none;
}

#nav_slideshow ul li {
    transition: .4s;
    border: 2px solid #ffc;
    float: left;
    margin: 4px;
    padding: 2px;
    height: 55px;
    opacity: 0.4;
}

#nav_slideshow ul li:hover {
  opacity: 0.6;
  border: 2px solid #fff;
}

#nav_slideshow ul li a {
    float:left;
    margin:2px;
    width: 80px; height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

#nav_slideshow ul li a img{
    width: 80px;
    flex-shrink:0;
    min-width:100%;
    min-height:100%
}

#nav_slideshow ul li.activeSlide {
    border:2px solid #3a8ead;
    opacity: 0.8;
}