/*===============================
=            Gallery            =
===============================*/
#arrow_left, #arrow_right {
  position: absolute;
  bottom:30px; right:30px;
  width:20px;
  z-index:1000;
  transition: 0.2s;
  cursor: pointer;
}

#arrow_left {
  right: 80px;
}

#arrow_left:hover, #arrow_right:hover {
  bottom:28px;
}

#arrow_left:active, #arrow_right:active {
  bottom:26px;
}

#arrow_left>img, #arrow_right>img {
  width: 25px;
}

.in-slide-content { 
  position: absolute; top: 3px;
  display: table;
  overflow: hidden;
  color:#F8F8FF;
  font-size:14px;
  text-align: justify;
  font-family: Arial;
  line-height: 20px;
  -webkit-font-smoothing:antialiased;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.72);
  -moz-box-shadow:    0px 0px 6px 0px rgba(50, 50, 50, 0.72);
  box-shadow:         0px 0px 6px 0px rgba(50, 50, 50, 0.72);
  margin:20px 0 20px 0;
  padding:20px; 
  height: 100%; 
}