@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?mr4d5g');
    src:    url('../fonts/icomoon.eot?mr4d5g#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?mr4d5g') format('truetype'),
        url('../fonts/icomoon.woff?mr4d5g') format('woff'),
        url('../fonts/icomoon.svg?mr4d5g#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-3dmax:before {
    content: "\e900";
}
.icon-adobe:before {
    content: "\e901";
}
.icon-autodesk:before {
    content: "\e902";
}
.icon-blender:before {
    content: "\e903";
}
.icon-email:before {
    content: "\e904";
}
.icon-facebook:before {
    content: "\e905";
}
.icon-computer:before {
    content: "\e906";
}
.icon-location:before {
    content: "\e907";
}
.icon-wallet:before {
    content: "\e908";
}
.icon-next-page .path1:before {
    content: "\e909";
    color: rgba(255, 255, 255, 0.25);
}
.icon-next-page .path2:before {
    content: "\e90a";
    margin-left: -1em;
    color: rgba(255, 255, 255, 0.502);
}
.icon-flag:before {
    content: "\e90b";
}
.icon-phone:before {
    content: "\e90c";
}
.icon-team:before {
    content: "\e90d";
}
.icon-sketchup:before {
    content: "\e90e";
}
.icon-skype:before {
    content: "\e90f";
}
.icon-time:before {
    content: "\e910";
}
.icon-twitter:before {
    content: "\e911";
}
.icon-vm:before {
    content: "\e912";
}
.icon-anvil:before {
    content: "\e913";
}

