body {
    overflow-x: hidden;
}

.bg-grey {
    background: #EEEEEE;
}

.section-content {
    position: absolute;
    top: 25%;
    padding-left: 30px;
}

.header-1 {
    font-weight: bold;
    font-size: 6em;
}

.header-2 {
    font-weight: bold;
    font-size: 7em;
}

.headers h4 {
    color: #9A9998;
}

#about h1 {
    font-size: 5em;
    font-weight: bolder;
    color: #77C2E2;
}

#about .col-xs-4 {
    color: #0097D6;
}

#about .col-xs-3 {
    color: #8F8F8F;
}

section .footer  {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #40A2C5;
    height: 75px;
}

section .footer .row, section .footer .row .col-xs-3, section .footer .row .col-xs-2{
    height: 100%;
    margin: 0;
    transition: 0s;
}

section .footer .col-xs-3, section .footer .col-xs-2 {
    padding: 0;
}

section .footer a {
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    display: block;
    height: 100%;
}

section .footer a:hover {
    background: white;
    color: #40A2C5;
    text-decoration: none;
}

section .footer a:after {
    transition: all .4s;
    position:absolute; /*or absolute*/
    z-index:100000; /*a number that's more than the modal box*/
    top: -45px; right: 152px;
}

section .footer .col-xs-3:first-child a:after {
    content: url(../images/interior.png);
}

section .footer .col-xs-3:first-child a:hover::after {
    content:url(../images/interior-white.png);
}

section .footer .col-xs-3:nth-child(2) a:after {
    top: -60px;
    content: url(../images/exterior.png);
}

section .footer .col-xs-3:nth-child(2) a:hover::after {
    content: url(../images/exterior-white.png);
}

section .footer .col-xs-3:nth-child(3) a:after {
    top: -59px;
    content: url(../images/web.png);
}

section .footer .col-xs-3:nth-child(3) a:hover::after {
    content: url(../images/web-white.png);
}

section .footer .col-xs-3:nth-child(4) a:after {
    top: -59px;
    content: url(../images/special.png);
}

section .footer .col-xs-3:nth-child(4) a:hover::after {
    content: url(../images/special-white.png);
}

#mainNav .container-fluid {
    padding: 20px 100px;
    background-color: #303030;
}

#mainNav .navbar-nav a {
    padding: 10px 30px;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}

#mainNav .navbar-nav a:not(.order):hover {
    background: #0083B2;
}

#mainNav .navbar-nav .order {
    background: #FBC02D;
    color: #303030;
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
    background: #0083B2;
    color: white;
}

.bg-blue {
    background: #0083B2;
}


/*=========== SERVICES ===========*/
#services {
    color: white;
}

#services .section-heading {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 5em;
}

#services .section-heading-dimmed {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3em;
    color: #389EC3;
    margin-top: 10px;
}

#services .section-heading-underlined {
    position: absolute; left: 0;
    bottom: 20%;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3em;
    color: #389EC3;
    margin-top: 10px;
    text-decoration: underline;
}
/*=========== END SERVICES ===========*/


/*=========== PORTFOLIO ===========*/
.our-works-heading {
    color: #363641;
    font-weight: bold;
    font-size: 6em;
}

.portfolio-box {
    transition: all .2s ease-in-out;
}

.portfolio-box:hover {
    z-index: 500;
    transform: scale(1.1);
}

.portfolio-box .portfolio-box-caption {
    background: rgba(0, 131, 178, 0.8);
}
/*=========== END PORTFOLIO ===========*/

/*=========== MEDIA ===========*/
#media h2 {
    font-size: 5em;
    font-weight: bold;
    color: #BEBEBE;
}

#media iframe {
    width: 100%;
    min-height: 600px;
    height: 80%;
}
/*=========== END MEDIA ===========*/