body, h1, h2, h3, h4, h5, h6 {
  font-family: 'PT Sans'; }

body {
  overflow-x: hidden; }

hr {
  border: none;
  background-color: #777777;
  color: #777777;
  height: 1px; }

.nav > li:not(.order-button) {
  border-right: 1px solid #d1d1d1; }

.vertical-center {
  min-height: 100%;
  min-height: 20vh;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center; }

.bg-blue {
  background: #0083B2; }

.bg-grey {
  background: #EEEEEE; }

.section-content {
  position: relative;
  top: 15%;
  padding-left: 30px; }
  @media (min-width: 0px) and (max-width: 767px) {
    .section-content {
      padding: 0; } }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 75px; }
  @media (min-width: 768px) and (max-width: 991px) {
    .footer {
      max-height: 195px;
      height: auto; } }
  @media (min-width: 0px) and (max-width: 767px) {
    .footer {
      height: auto; } }

@media (min-width: 0px) and (max-width: 991px) {
  #about .footer {
    max-height: 145px; } }
@media (max-width: 570px) {
  #about .footer {
    max-height: 90px; } }

.footer .row, .footer .row div[class*='col-'] {
  height: 100%;
  margin: 0;
  padding: 0; }
  @media (min-width: 0px) and (max-width: 991px) {
    .footer .row, .footer .row div[class*='col-'] {
      height: auto; } }

/*======== MAIN FOOTER =========*/
.main-footer {
  background: #40A2C5; }
  @media (min-width: 0px) and (max-width: 991px) {
    .main-footer {
      background: #343434; } }

.main-footer a {
  padding-top: 15px;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  display: block;
  height: 100%;
  -moz-transition: none;
  -webkit-transition: none;
  -o-transition: color 0 ease-in;
  transition: none; }
  @media (min-width: 992px) and (max-width: 1199px) {
    .main-footer a {
      font-size: 1.8em; } }

@media screen and (max-height: 900px) {
  .main-footer a {
    padding-top: 20px;
    font-size: 1.7em; } }
@media (min-width: 768px) and (max-width: 991px) {
  .main-footer a {
    height: 76.5px;
    padding-top: 50px;
    font-size: 17px; } }
@media (min-width: 0px) and (max-width: 991px) {
  .main-footer a {
    color: #40A2C5;
    padding-top: 54px;
    font-size: 22px;
    height: 91px; } }
  @media (min-width: 0px) and (max-width: 991px) and (max-width: 570px) {
    .main-footer a {
      padding-top: 52px;
      font-size: 12px;
      height: 77px; } }

.main-footer a:hover {
  background: #EEEEEE;
  color: #40A2C5;
  text-decoration: none; }
  @media (min-width: 0px) and (max-width: 991px) {
    .main-footer a:hover {
      background: #fff;
      color: #40A2C5; } }

.main-footer a.active {
  background: #EEEEEE;
  color: #40A2C5; }

.main-footer a:after {
  position: absolute;
  z-index: 2;
  top: -45px; }
  @media (min-width: 0px) and (max-width: 991px) {
    .main-footer a:after {
      top: 10px;
      background-size: contain;
      background-repeat: no-repeat; } }

.main-footer .col-md-3 {
  border-right: 1px solid #0083B2; }
  @media (min-width: 768px) and (max-width: 991px) {
    .main-footer .col-md-3 {
      border-right: 5px solid #303030; } }
  @media (min-width: 0px) and (max-width: 767px) {
    .main-footer .col-md-3 {
      border-right: 12px solid #303030 !important; }
      .main-footer .col-md-3:nth-of-type(2), .main-footer .col-md-3:nth-of-type(4) {
        border-right: none !important; } }
  @media (max-width: 570px) {
    .main-footer .col-md-3 {
      border: 3px solid #303030 !important; }
      .main-footer .col-md-3:nth-of-type(2), .main-footer .col-md-3:nth-of-type(4) {
        border-right: none !important; } }

.main-footer .col-md-3:nth-of-type(4) {
  border: none; }

@media (min-width: 768px) and (max-width: 991px) {
  .main-footer .col-md-3:nth-of-type(1), .main-footer .col-md-3:nth-of-type(2) {
    border-bottom: 5px solid #303030; } }
.main-footer .col-md-3:first-child a:after {
  right: calc(50% - 75px);
  content: url(../images/interior.png); }
  @media (min-width: 0px) and (max-width: 991px) {
    .main-footer .col-md-3:first-child a:after {
      right: calc(50% - 63px);
      background-image: url(../images/interior.png);
      width: 115px;
      height: 35px;
      content: ""; } }

.main-footer .col-md-3:first-child a:hover::after,
.main-footer .col-md-3:first-child a.active::after {
  content: url(../images/interior-white.png); }
  @media (min-width: 0px) and (max-width: 991px) {
    .main-footer .col-md-3:first-child a:hover::after,
    .main-footer .col-md-3:first-child a.active::after {
      right: calc(50% - 63px);
      background-image: url(../images/interior.png);
      width: 115px;
      height: 35px;
      content: ""; } }

.main-footer .col-md-3:nth-child(2) a:after {
  top: -60px;
  right: calc(50% - 91px);
  content: url(../images/exterior.png); }
  @media (min-width: 0px) and (max-width: 991px) {
    .main-footer .col-md-3:nth-child(2) a:after {
      top: 10px;
      right: calc(50% - 63px);
      background-image: url(../images/exterior.png);
      width: 115px;
      height: 35px;
      content: ""; } }

.main-footer .col-md-3:nth-child(2) a:hover::after,
.main-footer .col-md-3:nth-child(2) a.active::after {
  content: url(../images/exterior-white.png); }
  @media (min-width: 0px) and (max-width: 991px) {
    .main-footer .col-md-3:nth-child(2) a:hover::after,
    .main-footer .col-md-3:nth-child(2) a.active::after {
      top: 10px;
      right: calc(50% - 63px);
      background-image: url(../images/exterior.png);
      width: 115px;
      height: 35px;
      content: ""; } }

.main-footer .col-md-3:nth-child(3) a:after {
  top: -59px;
  right: calc(50% - 90px);
  content: url(../images/web.png); }
  @media (min-width: 0px) and (max-width: 991px) {
    .main-footer .col-md-3:nth-child(3) a:after {
      top: 10px;
      right: calc(50% - 90px);
      background-image: url(../images/web.png);
      width: 115px;
      height: 35px;
      content: ""; } }

.main-footer .col-md-3:nth-child(3) a:hover::after,
.main-footer .col-md-3:nth-child(3) a.active::after {
  content: url(../images/web-white.png); }
  @media (min-width: 0px) and (max-width: 991px) {
    .main-footer .col-md-3:nth-child(3) a:hover::after,
    .main-footer .col-md-3:nth-child(3) a.active::after {
      top: 10px;
      right: calc(50% - 90px);
      background-image: url(../images/web.png);
      width: 115px;
      height: 35px;
      content: ""; } }

.main-footer .col-md-3:nth-child(4) a:after {
  top: -59px;
  right: calc(50% - 25px);
  content: url(../images/special.png); }
  @media (min-width: 0px) and (max-width: 991px) {
    .main-footer .col-md-3:nth-child(4) a:after {
      top: 10px;
      right: calc(50% - 95px);
      background-image: url(../images/special.png);
      width: 115px;
      height: 35px;
      content: ""; } }
  @media (min-width: 0px) and (max-width: 767px) {
    .main-footer .col-md-3:nth-child(4) a:after {
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      background-position: 50%; } }

.main-footer .col-md-3:nth-child(4) a:hover::after,
.main-footer .col-md-3:nth-child(4) a.active::after {
  content: url(../images/special-white.png); }
  @media (min-width: 0px) and (max-width: 991px) {
    .main-footer .col-md-3:nth-child(4) a:hover::after,
    .main-footer .col-md-3:nth-child(4) a.active::after {
      top: 10px;
      right: calc(50% - 95px);
      background-image: url(../images/special.png);
      width: 115px;
      height: 35px;
      content: ""; } }

/*======== END MAIN FOOTER =========*/
/*========== NAVBAR ==========*/
.navbar .container-fluid {
  padding: 9px 40px 0 40px;
  background-color: #303030; }
  @media (min-width: 768px) and (max-width: 991px) {
    .navbar .container-fluid {
      padding: 9px 30px 0 30px;
      max-height: 50px; } }
  @media (min-width: 0px) and (max-width: 767px) {
    .navbar .container-fluid {
      padding: 0 30px 0 30px;
      max-height: 52px; } }

.navbar .navbar-nav a {
  padding: 10px 30px;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
  transition: .4s; }
  @media (max-width: 1040px) {
    .navbar .navbar-nav a {
      padding: 8px 25px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .navbar .navbar-nav a {
      padding: 6px 16px; } }

.navbar .navbar-nav a:not(.order):hover {
  background: #0083B2; }

.navbar .navbar-nav .order {
  background: #FBC02D;
  color: #303030; }

.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:focus {
  background: #0083B2;
  color: white; }

/*========== END NAVBAR ==========*/
/*=========== MAIN ============*/
#main {
  width: 100%;
  height: 100%; }
  @media (min-width: 768px) and (max-width: 991px) {
    #main {
      padding-top: 20px; } }

#main .carousel-indicators {
  position: relative;
  bottom: 0;
  left: 0;
  text-align: left;
  width: auto;
  margin: 0;
  padding: 0; }
  @media (min-width: 0px) and (max-width: 767px) {
    #main .carousel-indicators {
      left: 40px;
      bottom: -18em;
      max-width: 100px; } }

#main .main-header {
  text-align: left; }
  @media (min-width: 0px) and (max-width: 991px) {
    #main .main-header {
      text-align: center; } }

#main .main-header h1 {
  line-height: 1.4em;
  font-size: 5em;
  font-weight: bold;
  text-transform: uppercase; }
  @media (min-width: 768px) and (max-width: 991px) {
    #main .main-header h1 {
      font-size: 3.5em; } }

@media screen and (max-height: 900px) {
  .section-content {
    top: 8%; } }
  @media screen and (max-height: 900px) and (min-width: 0px) and (max-width: 767px) {
    .section-content {
      top: -2%; } }
  @media screen and (max-height: 900px) and (max-height: 540px) {
    .section-content {
      top: -20%; } }

@media screen and (max-height: 900px) {
  #main .main-header h1 {
    font-size: 4em; } }
  @media screen and (max-height: 900px) and (min-width: 0px) and (max-width: 767px) {
    #main .main-header h1 {
      font-size: 2.2em;
      margin-top: 15px; } }

#main .main-header h1 span, .main-header h4 span {
  display: block; }

#main .main-header h1 span.line-two {
  font-size: 1.3em; }

#main .main-header h4 {
  color: #9A9998;
  line-height: 2em; }
@media (max-height: 550px) and (min-width: 992px) and (max-width: 1199px) {
  #main .main-header h4 {
    display: none; } }
@media (max-height: 550px) and (min-width: 1200px) {
  #main .main-header h4 {
    display: none; } }

  @media (min-width: 0px) and (max-width: 767px) {
    #main .main-header h4 {
      font-size: 16px;
      line-height: 1.4em;
      padding: 0 10px; } }

#main .next-page {
  position: absolute;
  bottom: 140px;
  left: calc(50% - 30px); }
  @media (min-width: 768px) and (max-width: 991px) {
    #main .next-page {
      bottom: 210px; } }

#main .next-page a {
  font-size: 20px;
  color: #9D9C9D; }

#main .next-page a:hover, #main .next-page a:focus {
  text-decoration: none;
  color: #D5D4D5; }

/*=========== END MAIN ============*/
/*=========== ABOUT ============*/
#about {
  padding-top: 60px; }
  @media (min-width: 768px) and (max-width: 991px) {
    #about {
      padding-top: 50px;
      padding-bottom: 170px; } }
  @media (min-width: 0px) and (max-width: 767px) {
    #about {
      padding-top: 15px;
      padding-bottom: 200px; }
      #about .about-subheaders {
        max-width: 320px;
        margin: 0 auto; } }

#about h1 {
  font-size: 5em;
  font-weight: bolder;
  color: #77C2E2; }
  @media (min-width: 768px) and (max-width: 991px) {
    #about h1 {
      font-size: 4em; } }
  @media (min-width: 0px) and (max-width: 767px) {
    #about h1 {
      font-size: 2.8em; } }

#about .about-header {
  color: #0097D6; }
  @media (min-width: 0px) and (max-width: 767px) {
    #about .about-header {
      padding: 0 30px; } }

#about h3 .icon {
  font-size: 100px;
  display: block;
  margin-bottom: 15px; }

#about h3 {
  font-size: 30px; }

#about h4 {
  font-weight: bold;
  font-size: 20px; }

#about h3, #about h4 {
  text-transform: uppercase; }

#about .row:nth-of-type(1) {
  margin-bottom: 60px; }

#about .about-subheader .icon {
  font-size: 35px;
  display: block;
  margin-bottom: 10px; }

#about .about-subheader {
  color: #8F8F8F; }

#about .footer {
  background: #C8C8C8; }

#about .footer a {
  color: #969696;
  font-size: 50px; }
  @media (min-width: 0px) and (max-width: 767px) {
    #about .footer a {
      font-size: 50px; } }
  @media (max-width: 570px) {
    #about .footer a {
      font-size: 33px; } }

#about .footer a:hover {
  text-decoration: none; }

@media screen and (max-height: 900px) {
  #about h3 {
    font-size: 25px; }

  #about h3 .icon {
    font-size: 70px; }

  #about p {
    font-size: 15px; }

  #about .about-subheader .icon {
    font-size: 35px; }

  #about h4 {
    font-size: 15px; } }
/*=========== END ABOUT ============*/
/*=========== SERVICES ===========*/
#services {
  color: white;
  padding-top: 70px; }
  @media (min-width: 768px) and (max-width: 991px) {
    #services {
      padding-bottom: 330px; } }
  @media (min-width: 0px) and (max-width: 767px) {
    #services {
      padding-top: 40px;
      padding-bottom: 225px; } }

#services .section-heading {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 5em; }
  @media (min-width: 768px) and (max-width: 991px) {
    #services .section-heading {
      font-size: 4em; } }

#services .section-heading-dimmed {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 3em;
  color: #389EC3;
  margin-top: 10px; }
  @media (min-width: 768px) and (max-width: 991px) {
    #services .section-heading-dimmed {
      font-size: 2.5em; } }
  @media (min-width: 0px) and (max-width: 767px) {
    #services .section-heading-dimmed {
      font-size: 2em; } }

#services .section-header-underlined {
  position: absolute;
  bottom: 140px;
  width: 100%;
  display: block;
  text-align: center; }
  @media (min-width: 768px) and (max-width: 991px) {
    #services .section-header-underlined {
      bottom: 220px; } }
  @media (min-width: 0px) and (max-width: 767px) {
    #services .section-header-underlined {
      display: none; } }

#services .section-header-underlined h2 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 3em;
  color: #389EC3;
  text-decoration: underline; }

#services .service-box img {
  display: inline-block;
  width: 60%;
  margin-bottom: -40px; }

#services .service-box h3 {
  font-weight: bold; }
  @media (min-width: 0px) and (max-width: 767px) {
    #services .service-box h3 {
      font-size: 20px;
      margin-top: 5px; } }

@media screen and (max-height: 900px) {
  #services .section-heading {
    font-size: 4em; } }
  @media screen and (max-height: 900px) and (min-width: 0px) and (max-width: 767px) {
    #services .section-heading {
      font-size: 2em; } }

@media screen and (max-height: 900px) {
  #services .section-heading-dimmed {
    font-size: 2.5em; } }
  @media screen and (max-height: 900px) and (min-width: 0px) and (max-width: 767px) {
    #services .section-heading-dimmed {
      font-size: 1.5em; } }

@media screen and (max-height: 900px) {
  #services .service-box img {
    width: 50%; }

  #services .section-header-underlined h2 {
    font-size: 2.5em; } }
/*=========== END SERVICES ===========*/
/*=========== DESCRIPTIONS ===========*/
#descriptions {
  color: #6D6D6D;
  padding-top: 70px; }
  @media (min-width: 768px) and (max-width: 991px) {
    #descriptions {
      padding-bottom: 95px; } }
  @media (min-width: 0px) and (max-width: 767px) {
    #descriptions {
      padding-top: 25px;
      padding-bottom: 70px; } }

#descriptions .row-headers {
  margin-bottom: 50px; }
  @media (min-width: 0px) and (max-width: 767px) {
    #descriptions .row-headers {
      padding: 0 10px; } }

#descriptions h4 {
  line-height: 1.5em; }

#descriptions h2 {
  text-transform: uppercase;
  font-size: 5em; }

#descriptions .interior-descriptions {
  color: #8E8E8E; }

#descriptions .row:nth-of-type(2) img {
  margin-bottom: 10px; }

#descriptions #tab-exterior .col-md-8 img {
  min-height: 360px; }

#descriptions #tab-exterior .work-steps {
  text-align: left;
  color: #8E8E8E; }

#descriptions #tab-exterior .work-steps hr {
  max-width: 100%;
  background-color: #B4B4B4;
  margin-top: 0;
  margin-bottom: 20px; }

#descriptions #tab-exterior .work-steps h3 {
  font-weight: bolder;
  margin-bottom: 40px; }

#descriptions #tab-exterior .work-step p {
  line-height: 20px;
  margin-bottom: 15px;
  font-size: 14px; }

#descriptions #tab-exterior .work-step p img {
  float: left;
  margin-right: 15px; }

.row.vdivide [class*='col-']:not(:last-child):after {
  background: #d1d1d3;
  width: 1px;
  content: "";
  display: block;
  position: absolute;
  top: 74px;
  bottom: 15px;
  right: 0;
  min-height: 140px; }
  @media (min-width: 768px) and (max-width: 991px) {
    .row.vdivide [class*='col-']:not(:last-child):after {
      top: 48px;
      min-height: 115px; } }
  @media (min-width: 0px) and (max-width: 767px) {
    .row.vdivide [class*='col-']:not(:last-child):after {
      width: 0; } }

@media (min-width: 768px) and (max-width: 991px) {
  .row.vdivide [class*='col-']:not(:first-child):after {
    width: 0; } }
.web-categories.vdivide [class*='col-']:not(:last-child):after {
  top: 89px;
  min-height: 96px; }

#descriptions .next-page {
  color: #0083B2;
  font-size: 1.5em;
  position: absolute;
  bottom: 25px;
  left: calc(50% - 57px); }
  @media (min-width: 768px) and (max-width: 991px) {
    #descriptions .next-page {
      bottom: 3px; } }

#descriptions .next-page:hover, #descriptions .next-page:focus {
  text-decoration: none;
  color: #004B66; }

#descriptions #tab-web .web-category p, #descriptions #tab-special .special-categories .special-category p {
  text-align: justify;
  -moz-text-align-last: center;
  text-align-last: center; }

#descriptions #tab-web .row {
  margin-bottom: 30px; }

#descriptions #tab-web .web-categories {
  margin-bottom: 60px; }

#descriptions #tab-web .web-categories .img {
  height: 59px;
  margin-bottom: 20px; }

.special-categories.vdivide [class*='col-']:not(:last-child):after {
  top: 197px;
  min-height: 96px; }

#descriptions #tab-special .special-categories .special-category .img {
  height: 100px;
  margin-bottom: 10px; }

#descriptions #tab-special .special-categories .special-category .img img {
  height: 100px; }

#descriptions #tab-special .special-categories .special-category h3 {
  text-transform: uppercase;
  font-weight: bold; }

#descriptions #tab-special .special-emphasis img {
  margin-right: 15px; }

#descriptions #tab-special .special-emphasis p {
  font-style: italic;
  text-align: left; }

@media screen and (max-height: 900px) {
  #descriptions h2 {
    font-size: 4em; } }
  @media screen and (max-height: 900px) and (min-width: 768px) and (max-width: 991px) {
    #descriptions h2 {
      font-size: 4em; } }
  @media screen and (max-height: 900px) and (min-width: 0px) and (max-width: 767px) {
    #descriptions h2 {
      font-size: 2em; } }

@media screen and (max-height: 900px) {
  #descriptions h4 {
    line-height: 1.4em;
    font-size: 1.3em; }

  #descriptions .row-headers {
    margin-bottom: 25px; }

  #descriptions #tab-interior .row:nth-of-type(2) img {
    width: 40px; }

  #descriptions #tab-interior .image-description {
    width: 75%;
    margin-top: 20px; }

  #descriptions #tab-exterior .work-step p img {
    width: 50px; }

  #descriptions #tab-exterior .col-md-8 img {
    min-height: 345px; } }
/*=========== END DESCRIPTIONS ===========*/
/*=========== PORTFOLIO ===========*/
#portfolio {
  padding: 70px 0; }
  @media (min-width: 768px) and (max-width: 991px) {
    #portfolio .container-fluid {
      padding: 0 2px; } }
  @media (min-width: 0px) and (max-width: 767px) {
    #portfolio {
      padding: 0; } }

.our-works-heading {
  color: #6d6d6d;
  font-weight: bold;
  font-size: 4em;
  margin-left: auto;
  margin-right: auto; }
  @media (min-width: 0px) and (max-width: 767px) {
    .our-works-heading {
      font-size: 2.8em; } }

.portfolio-box {
  transition: all .2s ease-in-out; }

.portfolio-box:hover {
  z-index: 500;
  transform: scale(1.1);
  -webkit-box-shadow: 0px 0px 22px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 22px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 22px -1px rgba(0, 0, 0, 0.75); }

.portfolio-box .portfolio-box-caption {
  background: rgba(0, 131, 178, 0.8); }

.portfolio-box img {
  object-fit: cover;
  max-height: 268px; }

/*=========== END PORTFOLIO ===========*/
/*=========== MEDIA ===========*/
#media {
  padding-top: 10px;
  padding-bottom: 0px; }
  @media (min-width: 0px) and (max-width: 991px) {
    #media {
      padding: 0; } }

#media h2 {
  font-size: 5em;
  font-weight: bold;
  color: #BEBEBE; }
  @media (min-width: 768px) and (max-width: 991px) {
    #media h2 {
      font-size: 4em; } }
  @media (min-width: 0px) and (max-width: 767px) {
    #media h2 {
      margin-top: 30px;
      font-size: 2.8em; } }

#media iframe {
  width: 100%;
  min-height: 600px;
  height: 80%; }
  @media (min-width: 0px) and (max-width: 767px) {
    #media iframe {
      min-height: 300px;
      height: 100%;
      max-height: 300px; } }

@media screen and (max-height: 900px) {
  #media iframe {
    min-height: 500px; } }
  @media screen and (max-height: 900px) and (min-width: 0px) and (max-width: 767px) {
    #media iframe {
      min-height: 300px;
      height: 100%;
      max-height: 300px; } }

/*=========== END MEDIA ===========*/
/*=========== CONTACT US ===========*/
#contact {
  padding-top: 70px; }
  @media (min-width: 0px) and (max-width: 767px) {
    #contact {
      padding-top: 40px; } }

#contact h2 {
  font-size: 5em;
  font-weight: bolder;
  color: #b2b2b2; }
  @media (min-width: 768px) and (max-width: 991px) {
    #contact h2 {
      font-size: 4em; } }
  @media (min-width: 0px) and (max-width: 767px) {
    #contact h2 {
      font-size: 2.8em;
      margin-bottom: 0; } }

#contact .subheading {
  color: #777777;
  font-size: 15px;
  padding-top: 20px; }
  @media (min-width: 0px) and (max-width: 767px) {
    #contact .subheading {
      padding-top: 10px; } }

#contact .location-info {
  color: #0083b2;
  font-size: 15px; }
  @media (min-width: 0px) and (max-width: 991px) {
    #contact .location-info {
      height: 80px; } }
  @media (max-width: 430px) {
    #contact .location-info {
      font-size: 12px; } }

.location-info img {
  display: block;
  margin: 0 auto;
  padding-bottom: 19px; }

#contact .schedule {
  color: #777777;
  font-size: 15px;
  display: inline; }

#contact .order {
  background: #fbc02d;
  color: #303030; }

#contact .icon {
  font-size: 38px;
  display: block;
  margin: auto;
  margin-bottom: 10px; }

#contact .footer {
  padding-top: 15px;
  font-size: 14px;
  height: 50px;
  background: #2f2f2f;
  color: #6d6d6d; }
  @media (min-width: 0px) and (max-width: 767px) {
    #contact .footer {
      height: 80px; } }

#contact .footer a {
  color: #6d6d6d; }

#contact .footer a:hover {
  color: #b2b2b2; }

#contact .footer .icon {
  font-size: 25px;
  margin-bottom: 0;
  display: inline-block;
  margin-left: 30px; }
  @media (min-width: 0px) and (max-width: 767px) {
    #contact .footer .icon {
      margin-left: 18px;
      margin-top: 13px; } }

.btn-place-order {
  border-radius: 0;
  background: #FBC02D;
  padding: 10px 40px; }
  @media (min-width: 0px) and (max-width: 991px) {
    .btn-place-order {
      margin-bottom: 40px; } }

hr.hr-full-width {
  max-width: 100%; }

hr.hr-muted {
  color: #f3f3f4;
  background-color: #f3f3f4; }

/*=================== MODAL ===================*/
.modal-dialog {
  width: 500px; }
  @media (min-width: 0px) and (max-width: 767px) {
    .modal-dialog {
      width: 100%;
      padding-right: 25px; } }

.modal-content {
  background-color: #FEBD43;
  border-radius: 10px; }

.modal-content .text-muted {
  color: #D99629; }

.modal-header {
  padding-top: 30px;
  border: none;
  padding-bottom: 0; }

.modal-title {
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px; }

.modal-header-border {
  width: 90%;
  margin: auto;
  height: 2px;
  display: block;
  border-bottom: 5px dotted #D99629; }

.modal-body {
  padding-top: 0; }

.modal-notice {
  font-size: 18px;
  font-weight: bold; }

.modal-body .modal-container {
  width: 60%;
  margin: auto; }
  @media (max-width: 540px) {
    .modal-body .modal-container {
      width: 100%; } }

.modal-body form {
  margin-top: 30px; }

.modal-body form .form-group {
  margin-bottom: 5px; }

.modal-body form .form-group.m-t {
  margin-top: 30px; }

.modal-body form .form-control {
  background: #FEBD43;
  border-color: #D99629;
  color: white;
  font-weight: bold;
  padding: 10px 15px;
  height: auto;
  font-size: 20px;
  box-shadow: none;
  -webkit-box-shadow: none; }

.modal-body form .form-control:focus {
  background: #D99629;
  border-color: #FED53A; }

.modal-body .btn-default {
  background-color: #febd43;
  border: 1px solid #d99629;
  border-radius: 2px;
  color: #A97721;
  padding: 10px 20px; }

.modal-body .btn-default:hover {
  background-color: #A97721;
  color: #febd43;
  border-color: #FED53A; }

.modal-body .btn-primary {
  background-color: #0083AE;
  border-radius: 2px;
  padding: 11px 50px;
  color: white;
  border: none; }

.modal-body .btn-primary:hover {
  background-color: #005B7B; }

.modal-body form .form-control:focus::-webkit-input-placeholder {
  color: transparent; }

.modal-body form .form-control:focus::-moz-placeholder {
  color: transparent; }

.modal-body form .form-control:focus::-ms-input-placeholder {
  color: transparent; }

.form-control::-webkit-input-placeholder {
  color: #AC7922;
  font-weight: bold; }

.form-control::-moz-placeholder {
  color: #AC7922;
  font-weight: bold; }

.form-control::-ms-input-placeholder {
  color: #AC7922;
  font-weight: bold; }

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1; }

.inputfile + label {
  cursor: pointer;
  display: inline-block;
  overflow: hidden; }

.modal-body .btn-primary.loader {
  background: #5c96a9; }

/*# sourceMappingURL=landing.css.map */
