body, h1, h2, h3, h4, h5, h6 { font-family: 'PT Sans'; }
body { overflow-x: hidden; }
hr {
    border: none;
    background-color: #777777;
    color: #777777;
    height: 1px;
}

.vertical-center {
    min-height: 100%;
    min-height: 20vh;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-box-align : center;
    -webkit-align-items : center;
    -moz-box-align : center;
    -ms-flex-align : center;
    align-items : center;

    -webkit-box-pack : center;
    -moz-box-pack : center;
    -ms-flex-pack : center;
    -webkit-justify-content : center;
    justify-content : center;
}

.bg-blue { background: #0083B2; }
.bg-grey { background: #EEEEEE; }

.section-content {
    position: relative;
    top: 15%;
    padding-left: 30px;
}

.footer  {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 75px;
}

.footer .row, .footer .row div[class*='col-'] {
    height: 100%;
    margin: 0;
    padding: 0;
}

/*======== MAIN FOOTER =========*/
.main-footer {
    background: #40A2C5;
}

.main-footer a {
    padding-top: 15px;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    display: block;
    height: 100%;
}

.main-footer a:hover {
    background: #EEEEEE;
    color: #40A2C5;
    text-decoration: none;
}

.main-footer a.active {
    background: #EEEEEE;
    color: #40A2C5;
}

.main-footer a:after {
    transition: all .4s;
    position: absolute;
    z-index: 2;
    top: -45px;
}
.main-footer .col-md-3 {
    border-right: 1px solid #0083B2;
}

.main-footer .col-md-3:nth-of-type(4) {
    border: none;
}

.main-footer .col-md-3:first-child a:after {
    right: calc(50% - 76px);
    content: url(../images/interior.png);
}

.main-footer .col-md-3:first-child a:hover::after,
.main-footer .col-md-3:first-child a.active::after {
    content:url(../images/interior-white.png);
}

.main-footer .col-md-3:nth-child(2) a:after {
    top: -60px; right: calc(50% - 91px);
    content: url(../images/exterior.png);
}

.main-footer .col-md-3:nth-child(2) a:hover::after,
.main-footer .col-md-3:nth-child(2) a.active::after {
    content: url(../images/exterior-white.png);
}

.main-footer .col-md-3:nth-child(3) a:after {
    top: -59px; right: calc(50% - 50px);
    content: url(../images/web.png);
}

.main-footer .col-md-3:nth-child(3) a:hover::after,
.main-footer .col-md-3:nth-child(3) a.active::after {
    content: url(../images/web-white.png);
}

.main-footer .col-md-3:nth-child(4) a:after {
    top: -59px; right: calc(50% - 25px);
    content: url(../images/special.png);
}

.main-footer .col-md-3:nth-child(4) a:hover::after,
.main-footer .col-md-3:nth-child(4) a.active::after {
    content: url(../images/special-white.png);
}
/*======== END MAIN FOOTER =========*/

/*========== NAVBAR ==========*/
.navbar .container-fluid {
    padding: 20px 100px;
    background-color: #303030;
}

.navbar .navbar-nav a {
    padding: 10px 30px;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}

.navbar .navbar-nav a:not(.order):hover { background: #0083B2; }

.navbar .navbar-nav .order {
    background: #FBC02D;
    color: #303030;
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
    background: #0083B2;
    color: white;
}
/*========== END NAVBAR ==========*/

/*=========== MAIN ============*/
#main {
    width: 100%;
    height: 100%;
}

#main .carousel-indicators {
    position: relative;
    bottom: 0; left:0;
    text-align: left;
    width: auto;
    margin: 0;
    padding: 0;
}

#main .main-header {
    text-align: left;
}

#main .main-header h1 {
    line-height: 1.4em;
    font-size: 6em;
    font-weight: bold;
    text-transform: uppercase;
}

#main .main-header h1 span, .main-header h4 span {
    display: block;
}

#main .main-header h1 span.line-two {
    font-size: 1.3em;
}

#main .main-header h4 {
    color: #9A9998;
    line-height: 2em;
}

#main .next-page a {
    font-size: 20px;
    color: #9D9C9D;
}

#main .next-page a:hover, #main .next-page a:focus {
    text-decoration: none;
    color: #D5D4D5;
}
/*=========== END MAIN ============*/

/*=========== ABOUT ============*/
#about h1 {
    font-size: 5em;
    font-weight: bolder;
    color: #77C2E2;
}

#about .about-header {
    color: #0097D6;
}

#about h3 .icon {
    font-size: 100px;
    display:block;
    margin-bottom: 15px;
}

#about h3 {
    font-size: 30px;
}

#about h4 {
    font-weight: bold;
    font-size: 20px;
}

#about h3, #about h4 {
    text-transform: uppercase;
}

#about .row:nth-of-type(1) {
    margin-bottom: 60px;
}

#about .about-subheader .icon {
    font-size: 35px;
    display: block;
    margin-bottom: 10px;
}

#about .about-subheader {
    color: #8F8F8F;
}

#about .footer {
    background: #C8C8C8;
}

#about .footer a {
    color: #969696;
    font-size: 50px;
}

#about .footer a:hover {
    text-decoration: none;
}
/*=========== END ABOUT ============*/

/*=========== SERVICES ===========*/
#services {
    color: white;
}

#services .section-heading {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 5em;
}

#services .section-heading-dimmed {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3em;
    color: #389EC3;
    margin-top: 10px;
}

#services .section-heading-underlined {
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3em;
    color: #389EC3;
    margin-top: 10px;
    text-decoration: underline;
}

#services .service-box img {
    display: inline-block;
    width: 60%;
    margin-bottom: -40px;
}

#services .service-box h3 {
    font-weight: bold;
}
/*=========== END SERVICES ===========*/

/*=========== DESCRIPTIONS ===========*/
#descriptions {
    color: #6D6D6D;
}

#descriptions .row-headers {
    margin-bottom: 50px;
}

#descriptions h4 {
    line-height: 1.5em;
}

#descriptions h2 {
    text-transform: uppercase;
    font-size: 5em;
}

#descriptions .interior-descriptions {
    color: #8E8E8E;
}

#descriptions .row:nth-of-type(2) img {
    margin-bottom: 10px;
}

#descriptions #tab-exterior .col-md-8 img {
    min-height: 360px;
}

#descriptions #tab-exterior .work-steps {
    text-align: left;
    color: #8E8E8E;
}

#descriptions #tab-exterior .work-steps hr {
    max-width: 100%;
    background-color: #B4B4B4;
    margin-top: 0;
    margin-bottom: 20px;
}

#descriptions #tab-exterior .work-steps h3 {
    font-weight: bolder;
    margin-bottom: 40px;
}

#descriptions #tab-exterior .work-step p {
    line-height: 20px;
    margin-bottom: 15px;
    font-size: 14px;
}

#descriptions #tab-exterior .work-step p img {
    float: left;
    margin-right: 15px;
}

.row.vdivide [class*='col-']:not(:last-child):after {
    background: #d1d1d3;
    width: 1px;
    content: "";
    display:block;
    position: absolute;
    top:74px; bottom: 15px;
    right: 0;
    min-height: 140px;
}

.web-categories.vdivide [class*='col-']:not(:last-child):after {
    top: 89px;
    min-height: 96px;
}

#descriptions .next-page {
    color: #0083B2;
    font-size: 1.8em;
}

#descriptions .next-page:hover, #descriptions .next-page:focus {
    text-decoration: none;
    color: #004B66;
}

#descriptions #tab-web .web-category p, #descriptions #tab-special .special-categories .special-category p {
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
}

#descriptions #tab-web .row {
    margin-bottom: 30px;
}

#descriptions #tab-web .web-categories {
    margin-bottom: 60px;
}

#descriptions #tab-web .web-categories .img {
    height: 59px;
    margin-bottom: 20px;
}

.special-categories.vdivide [class*='col-']:not(:last-child):after {
    top: 197px;
    min-height: 96px;
}

#descriptions #tab-special .special-categories .special-category .img {
    height: 133px;
    margin-bottom: 10px
}

#descriptions #tab-special .special-categories .special-category h3 {
    text-transform: uppercase;
    font-weight: bold;
}
/*=========== END DESCRIPTIONS ===========*/


/*=========== PORTFOLIO ===========*/
.our-works-heading {
    color: #6d6d6d;
    font-weight: bold;
    font-size: 6em;
}

.portfolio-box {
    transition: all .2s ease-in-out;
}

.portfolio-box:hover {
    z-index: 500;
    transform: scale(1.1);
    -webkit-box-shadow: 0px 0px 22px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 22px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 22px -1px rgba(0,0,0,0.75);
}

.portfolio-box .portfolio-box-caption {
    background: rgba(0, 131, 178, 0.8);
}
/*=========== END PORTFOLIO ===========*/

/*=========== MEDIA ===========*/
#media h2 {
    font-size: 5em;
    font-weight: bold;
    color: #BEBEBE;
}

#media iframe {
    width: 100%;
    min-height: 600px;
    height: 80%;
}
/*=========== END MEDIA ===========*/

/*=========== CONTACT US ===========*/
#contact h2 {
    font-size: 5em;
    font-weight: bolder;
    color: #b2b2b2;
}
#contact .subheading {
    color: #777777;
    font-size: 15px;
    padding-top: 73px;
}
#contact .location-info {
    color: #0083b2;
    font-size: 15px;
}

.location-info img{
    display: block;
    margin: 0 auto;
    padding-bottom: 19px;
}
#contact .schedule {
    color: #777777;
    font-size: 15px;
    display: inline;
}

#contact .order {
    background: #fbc02d;
    color: #303030;

}

#contact .icon {
    font-size: 38px;
    display:block;
    margin:auto;
    margin-bottom: 10px;
}

#contact .footer {
    padding-top: 15px;
    font-size: 14px;
    height: 50px;
    background: #2f2f2f;
    color: #6d6d6d;
}

#contact .footer a {
    color: #6d6d6d;
}

#contact .footer a:hover {
    color: #b2b2b2;
}

#contact .footer .icon {
    font-size: 25px;
    margin-bottom: 0;
    display: inline-block;
    margin-left:30px;
}

#contact .btn-place-order {
    border-radius: 0;
    background: #FBC02D;
    padding: 10px 40px;
}

hr.hr-full-width {
    max-width: 100%;
}

hr.hr-muted {
    color: #f3f3f4;
    background-color: #f3f3f4;
}